---
interface Props {
  src?: string;
  alt?: string;
  height?: string;
}

const { src, alt = '', height = 'h-40' } = Astro.props;
---

{src ? (
  <img data-component="CardImage" src={src} alt={alt} class={`w-full ${height} object-cover`} />
) : (
  <div data-component="CardImage" class={`w-full ${height} bg-muted`}></div>
)}
